html{
background-color: #f8f0ff;
margin: -7;    
}

#header{
font-size: 40px;
color: #f8f0ff;
background-color: #1a0030; 
margin: -8px; 
margin-top: -16px;
margin-bottom: 8px;    
padding-left: 45px; 
padding-right:25px;
padding-top:14px;
padding-bottom: 25px;    
font-family: 'Righteous', cursive; 
letter-spacing: 4px;    
}
.subHead{  
font-family: 'Poppins', sans-serif;
font-size: 15px; 
margin-top: -25px;
padding-bottom: 25px;    
}
.dropbtn {
 background-color: #f8f0ff;      
  color: #1a0030;
  padding: 17px;
  font-size: 15px;
  border: none;
  border-radius: 12px;
    letter-spacing: 2px; 
    font-family: 'Poppins', sans-serif;
    display: inline-block;
   
}

.dropdown {
  float: right;    
  position: relative;
  z-index: 1;    
  display: inline-block;
  margin-top: -100px;
  margin-right:  39px; 
  margin-left: 10px;    
}

.dropdown-content {
  float: left;    
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f8f0ff;}

.dropdown:hover .dropdown-content {display: block;
letter-spacing: 2px; 
    font-family: 'Poppins', sans-serif;
    color: #1a0030;
    font-size: 10px;
    background-color: #f8f0ff;
}

.dropdown:hover .dropbtn {background-color: #1a0030;
color: #f8f0ff;
}

#photos {
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;    
  -moz-column-count: 4;
  -moz-column-gap: 20px;   
  column-count: 4;
  column-gap: 20px;
    padding: 10px; 
}

#photos img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 20px; !important;    
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
